img{
    height: 250px;
    width: 250px;
    float:left;
    border:7px solid black  ;
    margin:20px;
}
div{
    display:inline-block;
}
.cat{
    display: inline-block;
    width:40%;
    margin:10px;
    font-family: 'Darumadrop One', cursive;
}
.dog{
    width:40%;
    float: right;
    margin:10px;
    margin-right: 20px;
    font-family: 'Darumadrop One', cursive;
}
body{
    background-color: antiquewhite;
}
h2{
    margin:30px;
    font-family: 'Darumadrop One', cursive;
}
h1{
    margin:30px;
    font-family: 'Braah One', sans-serif;
    font-size: 50px;
}
footer{
    margin-top: 20px;
    float: right;
    margin-right: 20px;
}
